name: Deploy mdBook site to Pages

on:
  push:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  vale:
    runs-on: ubuntu-latest
    container:
      image: jdkato/vale:v2.10.2
    steps:
      - uses: actions/checkout@v3
      - run: vale docs
  megalinter:
    runs-on: ubuntu-latest
    container:
      image: oxsecurity/megalinter-documentation
    steps:
      - uses: actions/checkout@v3
        with:
          # This action in a docker container means we have a folder structure
          # like `docs/docs/docs/index.md` which is confusing the FILTER_REGEX_INCLUDE.
          # We clone the repo to this path to differentiate the repo from the `docs`
          # folder and configure mega linter to use `documentation` as the workspace.
          path: documentation
      - name: Mega-linter
        run: /entrypoint.sh
        env:
          VALIDATE_ALL_CODEBASE: true
          FILTER_REGEX_INCLUDE: (documentation/docs/)
          DEFAULT_WORKSPACE: documentation
  build:
    runs-on: ubuntu-latest
    needs:
      - vale
      - megalinter
    steps:
      - uses: actions/checkout@v3
      - name: Build Docker image
        run: docker build -t mdbook .
      - name: Set up Pages
        id: pages
        uses: actions/configure-pages@v3
      - name: Build with mdbook
        run: docker run --rm -v$(pwd):/data/src mdbook build docs
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./book
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
